<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    
    <%- include('./partials/header') %>

    <%- include('./partials/menu') %>

    <img src="images/portada.png" alt="Cientificos de la computación" width="600">

    <%- include('./partials/footer') %>

  </body>
</html>
