* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Inconsolata', monospace;
    list-style: none; 
    text-decoration: none; 
    color: rgb(195, 204, 221);
}

html {
    background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%);
}

body {
  background-color: #16171d;
  margin: 25px 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 1rem;
}

h2 {
  text-align: center;
}

nav {
  border: none;
  display: flex;
  gap: .5rem;
  margin: 20px 20px 30px;
  padding: auto;
}

nav a {
  border: none;
  background-color: #698b92;
  font-size: 20px;
  padding: 10px;
  transition: all .8s ease;
}

.buttons {
  border-radius: 10px;
  transition: all .8s ease;
}

.buttons:hover {
  background-color: #31494e;
  cursor: pointer;
  transform: translateY(2px);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio-title {
  font-size: 50px;
}

#origen {
  display: flex;
  align-items: center;
}

#origen img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.btn-home {
  border: 1px #131313 solid;
  background-color: #698b92;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
}

.listado-cientificos {
  margin: 1rem 0;
  font-size: 30px;
}

.listado-cientificos li{
  margin-bottom: 0.5rem;
}

.listado-cientificos li a{
  color: white;
  text-decoration: none;
  transition: all .8s ease;
}

.listado-cientificos li a:hover{
  color: #698b92;
}

#list-title {
  margin-top: 50px;
}

.more {
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: none;
  transition: all .8s ease;
}

.more:hover {
  color: #698b92;
}

#github-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}