html {
    background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%);
}

body {
  background-color: #3d6375;
  color: white;
  padding: 50px;
  font: 16px "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  padding: 0;
}

h2 {
  text-align: center;
}

nav {
  border: none;
  background-color: #698b92;
  display: flex;
  gap: 0;
  margin: 20px 20px 30px;
  padding: auto;
}

nav a {
  border: 1px #131313 solid;
  background-color: #698b92;
  color: white;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  transition: all .8s ease;
}

nav a:hover {
  background-color: #31494e;
  cursor: pointer;
  transform: translateY(2px);
}

#bio-title {
  font-size: 50px;
}

#origen {
  display: flex;
  align-items: center;
}

#origen img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.btn-home {
  border: 1px #131313 solid;
  background-color: #698b92;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}

.listado-cientificos {
  margin: 1rem 0;
  font-size: 30px;
}

.listado-cientificos li{
  margin-bottom: 0.5rem;
}

.listado-cientificos li a{
  color: white;
  text-decoration: none;
  transition: all .8s ease;
}

.listado-cientificos li a:hover{
  color: #698b92;
  text-decoration: none;
}

#list-title {
  margin-top: 50px;
}