<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <h1><%= title %></h1>
    <p>Heroe</p>

    <p>Hola, mi nombre es <%= nombre %> y soy <%= profesion %></p>

    <a href="/">Volver al inicio</a>
</body>
</html>